main {
    margin-top: 15px;
}

.left-block {
    margin-top: 15px;
    width: 49%;
    margin: 5px auto;
    border: 2px solid #b8ccd3;
    min-width: 600px;
}

.top-name {
    border-width: 90%;
    padding: 15px 0 5px 15px;
    border-bottom: 1px solid lightgray;
    border-width: 90%;
    margin-bottom: 20px;
}

.input-send-message {
    border-top: 1px solid lightgray;
    border-width: 90%;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 100%;
}

.input-send-message textarea {
    width: 100%;
    min-width: 570px;
    padding: 10px;
    height: 200px;
}

.dialog {
    margin: 10px 0 10px 0;
    padding: 0 25px;
    margin: auto;
    height: 400px;
    overflow: hidden;
}

.dialog:hover {
    overflow-y: auto;
    padding-right: 10px;
}

.dialog img {
    height: 250px;
    width: 380px;
}

.send-message {
    width: 10px;
}

.btn-block button {
    width: 100%;
    margin-bottom: 15px;
}

.btn-sample {
    border: 1px solid #047cf4;
}

.btn-sample .fa-caret-down {
    margin-left: 5px;
}

.right-block {
    min-height: 60vh;
    width: 49%;
    margin: 5px auto;
    min-width: 600px;
    padding: 0;
}

.right-block-bottom, .right-block-top {
    margin: auto auto 10px auto;
    padding: 10px;
    border: 2px solid #b8ccd3;
}


.right-block-top-header button {
    height: 35px;
    width: 45px;
    padding-top: 5px;
    padding-bottom: 7px;
}

.right-btn-date {
    padding-left: 5px;
}

.date {
    text-align: center;
    padding: 5px 0 0 0 ;
}

.table tr, .table th, .table td {
    border: 1px solid lightgray;
    text-align: center;
    padding: 4px;
}

.table th {
    font-weight: normal;
    letter-spacing: 0.5px;
}

.first-row {
    color: #3c9cc3;
    font-weight: bold;
}

.message {
    width: 90%;
}

.time-message {
    color: lightgray;
}

.first-person-name {
    padding-top: 10px;
    color: #8bc9f0;
}

.second-person-name {
    padding-top: 10px;
    color: #d9a865;
}

.right-block-bottom h5 {
    font-weight: 500;
}
