main {
    margin-top: 15px;
}

.left-block {
    margin-top: 15px;
    /* min-height: 60vh; */
    width: 49%;
    margin: 5px auto;
    border: 1px solid blue;
    min-width: 600px;
}

.top-name {
    border-width: 90%;
    padding: 15px 0 5px 15px;

}

.input-send-message {
    padding-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.input-send-message textarea {
    width: 100%;
    min-width: 570px;
    padding: 10px;
}

.dialog {
    margin: 10px 0 10px 0;
    padding: 10px 25px;
    margin: auto;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-width: 90%;
    height: 250px;
    overflow: hidden;
}

.dialog:hover {
    overflow-y: auto;
    padding-right: 10px;
}

.send-message {
    width: 10px;
}

.btn-block button {
    width: 100%;
    margin-bottom: 15px;
}

.btn-sample {
    border: 1px solid blue;
}

.btn-sample .fa-caret-down {
    margin-left: 5px;
}

.right-block {
    min-height: 60vh;
    width: 49%;
    margin: 5px auto;
    min-width: 600px;
    padding: 0;
}

.right-block-bottom, .right-block-top {
    margin: auto auto 10px auto;
    padding: 10px;
    border: 1px solid blue;
}

.date {
    text-align: center;
    padding: 5px 0 0 0 ;
}

.table tr, .table th, .table td {
    border: 1px solid lightgray;
    text-align: center;
}

.first-row {
    color: blue;
    font-weight: bold;
}

.message {
    width: 90%;
}

.time-message {
    color: lightgray;
}

.first-person-name {
    padding-top: 10px;
    color: deepskyblue;
}

.second-person-name {
    padding-top: 10px;
    color: rgb(255, 179, 0);
}

